@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0%;
  background-color: #190e3f;
}

.header {
  background-color: cornflowerblue;
  text-align: center;
  color: black;
  padding: 0.5em;
}

.container {
  display: block;
  margin-top: 2em;
  /* margin-left: 10%;
  margin-bottom: 0;
  width: 80%; */
  text-align: center;
  padding: 2em;
  background-color: rgb(160, 187, 238);
  border-radius: 1em;
}

.container-vblend {
  display: block;
  margin-top: 2em;
  /* margin-left: 10%;
  margin-bottom: 0;
  width: 80%; */
  text-align: center;
  padding: 2em;
  background-color: rgb(228, 189, 131);
  border-radius: 1em;
}

.container-wblend {
  display: block;
  margin-top: 2em;
  /* margin-left: 10%; */
  margin-bottom: 2em;
  /* width: 80%; */
  text-align: center;
  padding: 2em;
  background-color: rgb(176, 228, 128);
  border-radius: 1em;
}

label {
  font-size: 1.5em;
}

input {
  width: 40%;
  margin-bottom: 0;
  text-align: center;
  padding: 0.2em;
  font-size: 1.5em;
  color: maroon;
}

button {
  background-color: rgb(220, 228, 106);
  padding: 0.2em 1em 0.2em 1em;
  border: black solid 1px;
  border-radius: 10px;
  font-size: 1.5em;
  margin: 0;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  height: 1.5em;
  font-size: 1.2em;
}

p.message {
  color: red;
  font-size: 1.5em;
  margin-top: 0;
}

footer {
  background: cornflowerblue;
  width: 100%;
  margin-top: 1em;
  padding-bottom: 0.7em;
  /* text-align: center;  */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 50px;
  margin-top: 1em;
}

.instructions {
  /* display: block; */
  margin-top: 0.5rem;
  margin-left: 1.5%;
  margin-bottom: 0.5rem;
  width: 97%;
  text-align: left;
  padding: 2rem;
  background-color: beige;  
  border-radius: 1rem;
  font-size: 1rem;
  text-align: left;
  max-height: 91vh; /* 640px */
  overflow: auto;
}

.call-instructions {
  text-align: center;
  /* color: rgb(160, 187, 238); */
  margin: 3em;
}

.close-modal {
  text-align: center;
  margin: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 36%;
    margin-left: 32%;
  }

  .container-vblend {
    width: 36%;
    margin-left: 32%;
  }

  .container-wblend {
    width: 36%;
    margin-left: 32%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 42%;
    margin-left: 30%;
  }

  .container-vblend {
    width: 42%;
    margin-left: 30%;
  }

  .container-wblend {
    width: 42%;
    margin-left: 30%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 0.9rem;
  }

  .container {
    width: 56%;
    margin-left: 23%;
  }

  .container-vblend {
    width: 56%;
    margin-left: 23%;
  }

  .container-wblend {
    width: 56%;
    margin-left: 23%;
  }

  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  /* html {
    font-size: 0.9rem;
  } */

  .container {
    width: 67%;
    margin-left: 17%;
  }

  .container-vblend {
    width: 67%;
    margin-left: 17%;
  }

  .container-wblend {
    width: 67%;
    margin-left: 17%;
  }
}

@media screen and (max-width: 576px) {

  html {
    font-size: 0.70rem;
  }

  .container {
    width: 80%;
    margin-left: 10%;
  }

  .container-vblend {
    width: 80%;
    margin-left: 10%;
  }

  .container-wblend {
    width: 80%;
    margin-left: 10%;
  }

  footer {
    display: none;
  }
}
